@charset "utf-8";
@import "normalize";

html, body{
  height: 100%;
}

#countdown-landing-page {
  font-family: 'Lato', sans-serif;
  background-image: url('../images/ufo_sneak_peak.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;  
  min-height: 100%;

  .ir_logo {
    width: 240px;
    padding: 20px;
  }

  #ufo-container {
    text-align: center;

    .tag-line { 
      margin-top: 30%;

      h1 {
        font-weight: 100;
        color: white;
        font-size: 110px;
      }
    }

    #countdown {
      background: #1B1B1B;
      width: 400px;
      padding: 15px 10px;
      margin: 0 auto;
      border-radius: 7px;
      box-shadow: 2px 2px 2px 1px #7d7264;

      .countdown-container { 
        width: 70px;
        display:inline-block;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 100;
        color: gray;

        .countdown-number {
          color: #E48339; 
          font-size: 30px;
          font-weight: 400;
          border: solid #a1a1a1 1px;
          box-shadow: 1px 1px 1px #000;
          width: 30px;
          border-radius: 6px;
          padding: 5px 12px;
          background-image: -ms-linear-gradient(bottom, #131313 0%, #525252 100%);
          background-image: -moz-linear-gradient(bottom, #131313 0%, #525252 100%);
          background-image: -o-linear-gradient(bottom, #131313 0%, #525252 100%);
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #131313), color-stop(1, #525252));
          background-image: -webkit-linear-gradient(bottom, #131313 0%, #525252 100%);
          background-image: linear-gradient(to top, #131313 0%, #525252 100%);
          margin: 0 auto;

          span.number-text {
            position: relative;
            right: 2px;
            top: -4px;
          }
        }

        span {
          margin-top: 5px;
          display: block;
        }
      }

      .countdown-seperator {
        display: inline-block; 
        color: #797979;
        font-size: 30px;
        position: relative; 
        top: -40px;
        right: 7px;
      }
    }  
  }
}
